.button {
  padding: 8px 16px 8px 12px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 8px;
  box-shadow: var(--shadow-base);
}

.primary {
  background-color: var(--primary-400);
  color: var(--neutral-100);
}

.button > svg {
  width: 24px;
  height: 24px;
}

.button > span {
  font-size: var(--font-size-md);
  line-height: var(--line-height-md);
  font-weight: var(--font-regular);
}
