.idle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  height: 100%;
}

.idleImg {
  width: 231px;
  height: 168px;
}

.idleText {
  text-align: center;
}
