.header {
  background-color: var(--base-black);
  box-shadow: var(--shadow-base);

  padding: 12px 24px 12px 16px;
  height: var(--header-height);
  width: 100%;

  position: fixed;
  display: flex;
  justify-content: space-between;
}