.navbar {
  background-color: var(--neutral-100);
  border-right: 1px solid var(--neutral-300);
  padding: 24px 16px;

  overflow-y: scroll;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}