@font-face {
  font-family: "Source Sans 3";
  font-style: normal;
  font-weight: 400;
  font-display: swap;

  src: local("Source Sans 3"),
  url('@assets/fonts/SourceSans3.woff2') format("woff2"),
  url('@assets/fonts/SourceSans3.woff') format("woff")
}

@font-face {
  font-family: "Source Sans 3";
  font-style: normal;
  font-weight: 600;
  font-display: swap;

  src: local("Source Sans 3"),
  url('@assets/fonts/SourceSans3.woff2') format("woff2"),
  url('@assets/fonts/SourceSans3.woff') format("woff")
}

@font-face {
  font-family: "Source Sans 3";
  font-style: normal;
  font-weight: 700;
  font-display: swap;

  src: local("Source Sans 3"),
  url('@assets/fonts/SourceSans3.woff2') format("woff2"),
  url('@assets/fonts/SourceSans3.woff') format("woff")
}