* {
  font-family: "Source Sans 3", sans-serif;
  letter-spacing: 0;
  font-weight: var(--font-regular);
  font-size: var(--font-size-md);
  line-height: var(--line-height-md);

  box-sizing: border-box;
}

body {
  min-width: 1280px;
  overflow-y: hidden;
}

h1, h2, h3 {
  font-weight: var(--font-bold);
}

h1 {
  font-size: 2rem;
  line-height: 2.5rem;
}

h2 {
  font-size: 1.5rem;
  line-height: 2rem;
}

h3 {
  font-size: 1.125rem;
  line-height: 1.5rem
}